:root {
    --md-admonition-icon--note: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11 9h2V7h-2m1 13c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8m0-18A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2m-1 15h2v-6h-2v6Z"/></svg>');
}

.md-content {
    max-width: 70rem;
}

.md-typeset table:not([class]) {
    font-size: 0.9rem;
}

.md-typeset .admonition,
.md-typeset details {
    border-radius: 0.6rem;
}

.md-typeset code {
    word-break: break-word;
}

code, pre {
    font-feature-settings: "liga" 1, "calt" 1;
}